<!DOCTYPE html>
<html>
    <head>
	
<h2>Multiselect dropdown with checkbox in angularjs</h2>
      <!-- @* Load bootstrap css *@ -->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" />
      <!-- @* load angularjs library & lodash js *@ -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
        <!-- @* load our js ("MyApp" here) file and angularjs-dropdown-multiselect directive *@ -->
		<!-- <script src="~/Scripts/angularjs-dropdown-multiselect.js"></script> -->
		<!-- <script src="~/Scripts/MyApp.js"></script> -->
		<script src="angularjs-dropdown-multiselect.js"></script>
		<script src="MyApp.js"></script>

        <!-- @* HTML Code *@ -->
 
<!-- @* I have added some css here for looks good *@ -->
<style>
    .body-content{padding-top:50px}
    .checkbox{padding:0;margin:0;}
    .dropdown-menu{overflow:auto !important;}
    .form-group div{display:inline-block; margin-right:10px}
</style>
 
<div ng-app="MyApp" ng-controller="multiselectdropdown">
    <div class="container" style="margin:50px">
        <form class="form-inline" name="myForm" role="form" ng-submit="SubmitData()">
            <div class="form-group">
                <label>Subscribe for categories : </label>
                <!-- @* Directive *@ -->
                <div ng-dropdown-multiselect="" extra-settings="dropdownSetting" 
                     options="Categories" selected-model="CategoriesSelected" checkboxes="true"></div>
				<div ng-dropdown-multiselect="" extra-settings="dropdownSetting" 
                     options="Categories" selected-model="CategoriesSelected" styleActive="true"></div>
					 
				<div ng-dropdown-multiselect="" extra-settings="dropdownSetting" 
                     options="Categories" selected-model="CategoriesSelected2" styleActive="true"></div>
					 
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
			<button type="button" class="btn btn-secoundary" ng-click="EnviarSelecionados()">Enviar Selecionados!</button>
        </form>
		<div>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
			<h2>Show Selecteds</h2>
			
			<br/>
			<pre ng-repeat="catsel in CategoriesSelected">
			Person ID:{{catsel.id}} 
			<br/>
			Person Name:{{catsel.label}}
			</pre> 		
 
		</div>
        <!-- @* Show posted categories (from server) *@ -->
        <!-- <div style="margin-top:40px" ng-if="SubmittedCategories.length > 0"> -->
            <!-- <h2>Selected Categories</h2> -->
            <!-- <table class="table table-responsive table-bordered"> -->
                <!-- <thead> -->
                    <!-- <tr> -->
                        <!-- <th>ID</th> -->
                        <!-- <th>Category Name</th> -->
                    <!-- </tr> -->
                <!-- </thead> -->
                <!-- <tbody> -->
                    <!-- <tr ng-repeat="cat in SubmittedCategories"> -->
                        <!-- <td>{{cat.CategoryID}}</td> -->
                        <!-- <td>{{cat.CategoryName}}</td> -->
                    <!-- </tr> -->
                <!-- </tbody> -->
            <!-- </table>   -->
        <!-- </div> -->
		
		
		
		<!-- @* Show posted categories (from server) *@ -->
        <div style="margin-top:40px" ng-if="SubmittedCategories.length > 0">
            <h2>Selected Categories</h2>
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Category Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cat in SubmittedCategories">
                        <td>{{cat.CategoryID}}</td>
                        <td>{{cat.CategoryName}}</td>
                    </tr>
                </tbody>
            </table>  
        </div>
		
		
    </div>
</div>
